.bOver {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; CURSOR: hand; COLOR: white; PADDING-TOP: 3px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #99ccff
}
.bOut {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; CURSOR: hand; COLOR: white; PADDING-TOP: 3px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #5389bc
}
.bOuts {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; CURSOR: hand; COLOR: white; PADDING-TOP: 3px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.abc {
	PADDING-LEFT: 20px; CURSOR: hand; BACKGROUND-COLOR: #5389bc
}
.bgcolor {
	PADDING-RIGHT: 1px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #0a246a
}
