BODY {
	SCROLLBAR-FACE-COLOR: #e8e7e9; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #e8e7e9; SCROLLBAR-3DLIGHT-COLOR: #b3b0b6; SCROLLBAR-ARROW-COLOR: #b3b0b6; SCROLLBAR-TRACK-COLOR: #e8e7e9; FONT-FAMILY: "Arial"; SCROLLBAR-DARKSHADOW-COLOR: #b3b0b6
}
.daohang {
	FONT-SIZE: 12px; COLOR: #000066; LINE-HEIGHT: 17px; FONT-FAMILY: Arial,"宋体"; TEXT-DECORATION: none
}
.shijian {
	FONT-SIZE: 12px; COLOR: #000033; LINE-HEIGHT: 28px; FONT-FAMILY: Arial,"宋体"; TEXT-DECORATION: none
}
.textxian {
	BACKGROUND-IMAGE: url(../images/xian_2.gif); TEXT-DECORATION: none
}
.pt1 {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 22px; FONT-FAMILY: Arial,"宋体"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: Arial,"宋体"; TEXT-DECORATION: none
}
.mailxian {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/mailxian.gif); COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Arial,"宋体"; TEXT-DECORATION: none
}
.mailtext {
	FONT-SIZE: 12px; COLOR: #000033; LINE-HEIGHT: 22px; FONT-FAMILY: Arial,"宋体"; TEXT-DECORATION: none
}
.mailtext2 {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 22px; FONT-FAMILY: Arial,"宋体"; TEXT-DECORATION: none
}
.textkuang {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #000a52 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000a52 1px solid; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #d9f0ff
}
