.table{
	border: 1px solid #CAF2FF;/*边框颜色*/
	margin-top: 5px;
	margin-bottom: 5px;
	background:#B8D3F1;
}
.tr_bg_out {
	background:#ffffff;
	line-height: 20px;
	height:20px;
}
.tr_bg_over {
	background:#E4F1FA;
	line-height: 20px;
	height:20px;
}
.bg_tr {
	font-family: "微软雅黑,Verdana, 新宋体";
	color:#1E5494;/*标题字体色*/
	font-size:12px;
	font-weight:bolder;
	background:#E4F1FA;/*标题背景色*/

    line-height: 22px;
}

.right-button06 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 24px;
	background-image: url(../images/button08.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}


.right-textfield03 {
	font-family: Tahoma;
	font-size: 11px;
	color: #555555;
	text-decoration: none;
	height: 16px;
}

.right-text09 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #F26521;
	text-decoration: none;
}
.top-font01 {
	font-family: "宋体";
	font-size: 12px;
	color: #448CCB;
	text-decoration: none;
}
a.top-font01:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.left-table01 {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #B8C9D6;
	margin-left: 14px;
}
.left-table02 {
	margin-top: 8px;
	margin-bottom: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}
.left-table03 {
	margin-top: 6px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	background-image: url(../images/nav02.gif);
}
a.left-table03:hover {
	background-image: url(../images/nav03.gif);
}
.left-table04 {
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	background-image: url(../images/nav03.gif);
	margin-top: 6px;
}

.left-font01 {
	font-family: "宋体";
	font-size: 12px;
	color: #448CCB;
	text-decoration: none;
	filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1);
}
a.left-font01:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=11,);
}

.left-font02 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #448CCB;
	text-decoration: none;
	filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1);
}
.left-font03 {
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}
a.left-font03:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.right-table01 {
	background-image: url(../images/button01.gif);
	text-align: center;
	height: 40px;
	float: left;
	width: 117px;
}
.right-font01 {
	font-family: "宋体";
	font-size: 12px;
	color: #A1A1A1;
	text-decoration: none;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}
a.right-font01:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white)
}
.right-font02 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #4EA1CB;
	text-decoration: none;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}
a.right-font02:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}
.right-table02 {
	background-image: url(../images/button02.gif);
	float: left;
	height: 40px;
	width: 117px;
	text-align: center;
}
.right-table03 {
	margin-top: 16px;
	margin-bottom: 20px;
}
.right-table04 {
	padding-top: 3px;
	padding-left: 7px;
}
.right-table05 {
	margin-left: 2px;
	margin-top: 12px;
}
.right-table06 {
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
}
.right-table07 {
	margin-top: 16px;
	margin-left: 20px;
	margin-bottom: 40px;
}
.right-table08 tr{wfsr:expression(this.bgColor=this.rowIndex%2?'#EBEBEB':'#FFFFFF');}
.right-table08 td{font-size:12px;font-family:宋体;height:30px;}
.right-table08 {
	text-decoration:none;
	color:#555555;
	font-family: "宋体";
 }
.right-table08 a:visited{
 text-decoration:none;
 color:#555555;
}
.right-table09 {
	float: left;
	margin-right: 16px;
}
.right-table10 {
	margin-top: 16px;
	margin-bottom: 20px;
	margin-left: 16px;
}
.right-font03 {
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	padding-top: 4px;
	padding-left: 2px;
	text-align: right;
}
a.right-font03:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}

.right-font04 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
a.right-font04:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.right-font05 {
	font-family: "宋体";
	font-size: 12px;
	color: #769ED9;
	text-decoration: none;
	line-height: 18px;
}
.right-font06 {
	font-family: "宋体";
	font-size: 12px;
	color: #6C7494;
	text-decoration: none;
	padding-top: 3px;
}
.right-font07 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #4EA1CB;
	text-decoration: none;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}

.right-text09 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #F26521;
	text-decoration: none;
}
.right-text10 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.right-table11 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #6C7494;
	border-bottom-color: #6C7494;
	border-left-color: #6C7494;
}
.right-table12 {
	text-align: center;
	float: left;
	margin-right: 3px;
	background-image: url(../images/button11.gif);
	height: 24px;
	width: 86px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	font-weight: bold;
	padding-top: 4px;
}
.right-table13 {
	background-image: url(../images/button12.gif);
	text-align: center;
	float: left;
	height: 24px;
	width: 86px;
	margin-right: 3px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	padding-top: 4px;
}
.right-table14 {
	margin-top: 16px;
	margin-bottom: 20px;
	margin-left: 8px;
	margin-right: 0px;
}
.right-table15 {
	background-color: #82BEFF;
	padding: 6px;
	border: 1px solid #E2EFF5;
	font-family: "宋体";
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}
.right-table16 {
	margin-bottom: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}

.right-textfield01 {
	width: 306px;
}
.right-textfield02 {
	height: 21px;
	width: 142px;
}

.right-textfield04 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 14px;
	width: 86px;
}
.right-textfield05 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 21px;
	width: 235px;
}
.right-textfield06 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 14px;
	width: 210px;
}
.right-textfield07 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 14px;
	width: 35px;
}
.right-textfield08 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 14px;
	width: 132px;
}
.right-button01 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 63px;
	background-image: url(../images/button03.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button02 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 45px;
	background-image: url(../images/button04.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button03 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 123px;
	background-image: url(../images/button05.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button04 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 87px;
	background-image: url(../images/button06.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button05 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 22px;
	background-image: url(../images/button07.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.right-button07 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 75px;
	background-image: url(../images/button09.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button08 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 99px;
	background-image: url(../images/button10.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.login-text01 {
	font-family: "宋体";
	font-size: 12px;
	color: #7F9DB9;
	text-decoration: none;
}
a.login-text01:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.login-text02 {
	font-family: "宋体";
	font-size: 13px;
	color: #7F9DB9;
	text-decoration: none;
	text-align: right;
	padding-top: 4px;
}
.login-text03 {
	font-family: "宋体";
	font-size: 12px;
	color: #0E69C7;
	text-decoration: underline;
}
a.login-text03:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.login-text04 {
	font-family: "宋体";
	font-size: 12px;
	color: #ACACAC;
	text-decoration: none;
	line-height: 20px;
}
a.login-text04:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	line-height: 20px;
}
.login-text05 {
	font-family: "宋体";
	font-size: 14px;
	color: #6890D2;
	text-decoration: none;
}
.login-text06 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.newtable01 {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	float: left;
	background-image: url(../images/navbutton01.gif);
	margin-right: 2px;
}
.navtable02 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	float: left;
	background-image: url(../images/navbutton02.gif);
	margin-right: 2px;
}
.newfont01 {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.newfont01:hover {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.newfont02 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.newfont02:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.newfont03 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.newfont03:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}

.newfont04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: line-through;
}
.newfont05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.newfont06 {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.newfont07 {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #174B73;
	text-decoration: none;
}
.newfont08 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}
.newfont09 {
	font-family: "宋体";
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.newfont10 {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
.navtable04 {

	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	float: left;
	background-image: url(../images/navbutton04.gif);
	margin-right: 2px;
}
.newtable03 {

	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	float: left;
	background-image: url(../images/navbutton03.gif);
	margin-right: 2px;
}
.mxfont01 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.dhfont01 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #174B73;
	text-decoration: none;
}
.dhfont02 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #9D080D;
}
.dhfont03 {
	font-family: "宋体";
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}
.dhfont04 {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}
.dhfont05 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #177B2F;
	text-decoration: none;
}
.dhfont06 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #FF0000;
}
.dhfont07 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF0000;
}

.dhtextfiled {
	font-family: "宋体";
	font-size: 16px;
	height: 30px;
	color: #000000;
	padding-top: 5px;
}


.dhbutton01 {
	font-family: "宋体";
	font-size: 16px;
	color: #004A80;
	text-align: center;
	background-image: url(../images/dhbutton01.gif);
	height: 30px;
	width: 128px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.dhbutton02 {
	font-family: "宋体";
	font-size: 16px;
	color: #803600;
	text-align: center;
	height: 30px;
	width: 128px;
	background-image: url(../images/dhbutton02.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.dhbutton03 {
	font-family: "宋体";
	font-size: 16px;
	color: #80003C;
	text-decoration: none;
	background-image: url(../images/dhbutton03.gif);
	height: 30px;
	width: 128px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.dhbutton04 {
	font-family: "宋体";
	font-size: 16px;
	color: #000980;
	background-image: url(../images/dhbutton04.gif);
	height: 30px;
	width: 128px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.dhbutton05 {
	font-family: "宋体";
	font-size: 16px;
	color: #004A80;
	background-image: url(../images/dhbutton05.gif);
	height: 30px;
	width: 81px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

a.button {
	height: 26px;
	line-height: 26px;
	display: inline-block;
	display: -moz-inline-stack;
	float: left;
	padding: 0px 16px;
	margin-right: 10px;
	color: #444444;
	text-shadow: 1px 1px #ffffff;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #b7c8d9;
	background: url(../images/common.gif) 0px 0px repeat-x;
}

a.button:hover {
	color: #222222;
	background-position: 0px -30px;
}

a.button:active {
	background-position: 0px -60px;
}

a.button:disabled {
	color: #bbbbbb;
}

a.button:disabled:hover, a.button:disabled:active {
	color: #bbbbbb;
	background-position: 0px 0px;
}

a.button .arrow {
	width: 6px;
	height: 3px;
	position: absolute;
	top: 12px;
	right: 4px;
	overflow: hidden;
	background: url(../images/common.gif) 0px -180px no-repeat;
}

a.iconButton {
	height: 26px;
	line-height: 26px;
	display: inline-block;
	display: -moz-inline-stack;
	float: left;
	position: relative;
	padding: 0px 16px 0px 26px;
	margin-right: 10px;
	color: #444444;
	text-shadow: 1px 1px #ffffff;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #b7c8d9;
	background: url(../images/common.gif) 0px 0px repeat-x;
}

a.iconButton:hover {
	color: #222222;
	background-position: 0px -30px;
	text-decoration: none;
}

a.iconButton:active {
	background-position: 0px -60px;
}

a.iconButton:disabled {
	color: #bbbbbb;
}

a.iconButton:disabled:hover, a.iconButton:disabled:active {
	color: #bbbbbb;
	background-position: 0px 0px;
}

a.iconButton .addIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) 0px -150px no-repeat;
}

a.iconButton .editIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -20px -150px no-repeat;
}

a.iconButton .deleteIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -40px -150px no-repeat;
}

a.iconButton .clearIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -60px -150px no-repeat;
}

a.iconButton .copyIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -80px -150px no-repeat;
}

a.iconButton .moveIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -100px -150px no-repeat;
}

a.iconButton .refreshIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -120px -150px no-repeat;
}
a.iconButton .selectIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/select.gif) no-repeat;
}
a.iconButton .unselectIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/unselect.gif) no-repeat;
}
div.buttonWrap {
	float: left;
	/*padding-left: 2px;*/
	padding: 0;
	margin-right: 10px;
}

div.buttonWrap .button, div.buttonWrap .iconButton {
	position: relative;
	margin: 0px 0px 0px -1px;
	overflow: hidden;
	white-space: nowrap;
}

div.buttonWrap .button.disabled, div.buttonWrap .button.disabled:hover, div.buttonWrap .button.disabled:active {
	color: #bababa;
	cursor: default;
	background: #ffffff;
}

div.buttonWrap .iconButton.disabled, div.buttonWrap .iconButton.disabled:hover, div.buttonWrap .iconButton.disabled:active {
	color: #bababa;
	cursor: default;
	background: #ffffff;
}
.over-hidden {
white-space:nowrap;
width:100%;
overflow:hidden;
-o-text-overflow:ellipsis; /* opera*/
text-overflow:ellipsis;/* IE Safari*/
-moz-binding:url('ellipsis.xml#ellipsis');/* Firefox*/
}